* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aquamarine;
}

.container {
    background-color: rgb(86, 238, 132);
    height: 20%;
}
.tulisan {
    color: azure;
    display: flex;
    background-color: blueviolet;
}

.mystyle {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home {
    display: flex;
    justify-content: left;
}

.asa {
    list-style-type: none;
}

.admin {
    background-color: brown;
    display: flex;
}

.yuki {
    height: 5%;
    width: 5%;
}

.bibik {
    justify-content: center;
    display: flex;

}